{% extends 'app/baseTienda.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="container mt-2">
  <div class="row">
      <div class="col-sm-2 bg-white border border-dark rounded mb-1" style="min-height: 80vh;">
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item activo rounded">
                <a class="nav-link" href="{% url 'perros' %}"><i class="fa-solid fa-dog"></i> Perros</a>
                <hr>
            </li>
            <li class="nav-item mt-1">
                <a class="nav-link" href="{% url 'gatos' %}"><i class="fa-solid fa-cat"></i></i> Gatos</a>
                <hr>
            </li>
            <li class="nav-item mt-1">
                <a class="nav-link" href="{% url 'animalespequeños' %}"><i class="fa-solid fa-kiwi-bird"></i></i> Animales pequeños</a>
            <hr>
              </li>
            
        </ul>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-8">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>NOMBRE</th>
                            <th>RAZA</th>
                            <th>STOCK</th>
                            <th>DESCRIPCION</th>
                            <th>PRECIO</th>
                            <th>TIPO</th>
                            <th>IMAGEN</th>
                            <th>FECHA INGRESO</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aux in listaProductos %}
                        <tr>
                            <td>{{ aux.codigo }}</td>
                            <td>{{ aux.nombre }}</td>
                            <td>{{ aux.raza }}</td>
                            <td>{{ aux.stock }}</td>
                            <td>{{ aux.descripcion }}</td>
                            <td>{{ aux.precio }}</td>
                            <td>{{ aux.tipo }}</td>
                            <td>{{ aux.imagen }}</td>
                            <td>{{ aux.fecha_ingreso }}</td>
                            <td> 
                                <a href="{% url 'modificarProducto' aux.codigo %}" class="btn btn-primary mt-2">Modificar</a>
                                <a href="{% url 'eliminarProducto' aux.codigo %}" class="btn btn-danger mt-2">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>

          </div>
      </div>
      
      </div>
  </div>
</div>
{% endblock %}