<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu cuenta</title>
  <link rel="icon" href="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}">
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'app/fontawesome-free-6.1.1-web/css/all.css' %}">
</head>

<body>
  <header class="bg-danger">
    <div class="container p-2">
      <div class="row">
        <div class="col text-center "><a href="#" class="social-color"><i class="fa-brands fa-facebook-square"></i>
            Facebook</a></div>
        <div class="col text-center"><a href="#" class="social-color"><i class="fa-brands fa-instagram-square"></i>
            Instagram</a></div>
        <div class="col text-center"><a href="#" class="social-color"><i class="fa-brands fa-twitter-square"></i>
            Twitter</a></div>
      </div>
    </div>
  </header>
  <div class="navcolor">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="{% url 'inicioSexionIni' %}" class="navbar-brand"><img src="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}" alt="" width="75px"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{% url 'inicioSexionIni' %}" class="nav-item nav-link" >Inicio</a>
                    <a href="{% url 'cuenta' %}" class="nav-item nav-link">Mi Cuenta</a>
                    <a href="{% url 'fundacion' %}" class="nav-item nav-link">Fundacion</a>
                    <a href="{% url 'tienda' %}" class="nav-item nav-link">Tienda</a>
                    <a href="{% url 'agregarUsuario' %}" class="nav-item nav-link">Nuevo Usuario</a>
                    <a href="{% url 'listarUsuario' %}" class="nav-item nav-link">Lista de Usuarios</a>
                </div>
                <div class="navbar-nav ms-auto">
                  <h3 class="p-3">Bienvenidos </h3>
                  <a class="btn btn-danger m-3" href="{% url 'index' %}">Cerrar sesion </a>
                  <a href="{% url 'carro' %}"><i class="fa-solid fa-cart-shopping mt-4"></i></a>
                </div>
            </div>
        </div>
    </nav>
    </div>
  </div> 
  
  
{% block contenido %}
{% endblock %}

  <footer>
    <div class="bg-dark">
      <div class="container">
        <div class="row p-5">
          <div class="col">
            <ul>
              <li>
                <p class="text-light">Contacto: +56959335581</p>
              </li>
              <li>
                <p class="text-light">Correo Electronico: delipet@gmail.com</p>
              </li>
              <li>
                <p class="text-light">Direccion: Vicuña Mackenna 7110, La Florida, Región Metropolitana</p>
              </li>
            </ul>
          </div>
          <div class="col position-relative">
            <img src="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}"
              class="bg-white p-2 rounded position-absolute top-50 start-50 translate-middle" height="120px">
          </div>
          <div class="col position-relative">
            <img src="{% static 'app/img/webpay.png' %}"
              class="rounded position-absolute top-50 start-50 translate-middle" height="70px">
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>