{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<div class="row">
  <div class="col">
    <div class="card">
      <img src="{% static 'app/img/Arena-para-gato-Traper-4-kg-1-26321765.png' %}" class="card-img-top" style="height: 400px;" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Arena para gatos</h5>
        <p class="card-text">Precio: $20.000</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'app/img/Lindos-antideslizante-gato-cuencos-de-doble-tazones_storage-93529.jpg' %}" class="card-img-top" style="height: 400px;" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Cuenco antideslizante</h5>
        <p class="card-text">Precio: $15.000</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'app/img/collar para perros.jpg' %}" class="card-img-top" style="height: 400px;" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Collar para perros</h5>
        <p class="card-text">Precio: $4.500</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}