<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliPet</title>
    <link rel="icon" href="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/fontawesome-free-6.1.1-web/css/all.css' %}">
</head>
<body>

    <header class="bg-danger">
        <div class="container p-2">
            <div class="row">
            <div class="col text-center "><a href="#" class="social-color"><i class="fa-brands fa-facebook-square"></i> Facebook</a></div>
            <div class="col text-center"><a href="#" class="social-color"><i class="fa-brands fa-instagram-square"></i> Instagram</a></div>
            <div class="col text-center"><a href="#" class="social-color"><i class="fa-brands fa-twitter-square"></i> Twitter</a></div>
            </div>
        </div>    
    </header>
    
<div class="navcolor">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="{% url 'inicioSexionIni' %}" class="navbar-brand"><img src="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}" alt="" width="75px"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="{% url 'inicioSexionIni' %}" class="nav-item nav-link" >Inicio</a>
                    <a href="{% url 'cuenta' %}" class="nav-item nav-link">Mi Cuenta</a>
                    <a href="{% url 'fundacion' %}" class="nav-item nav-link">Fundacion</a>
                </div>
             
            </div>
        </div>
    </nav>
</div>

<div class="bg-white p-2">
    <div class="card2">
        <div class="title">Comprobante</div>
        <div class="info">
            <div class="row">
                <div class="col-7"> <span id="heading">Fecha</span><br> <span id="details">10 mayo 2022</span> </div>
                <div class="col-5 pull-right"> <span id="heading">Nro.Orden</span><br> <span id="details">012j1gvs356c</span> </div>
            </div>
        </div>
        <div class="pricing">
            <div class="row">
                <div class="col-9"> <span id="name">Correa perro Unisex</span> </div>
                <div class="col-3"> <span id="price">$20.000</span> </div>
            </div>
            <div class="row">
                <div class="col-9"> <span id="name">Cobro de Envio</span> </div>
                <div class="col-3"> <span id="price">$7.000</span> </div>
            </div>
        </div>
        <div class="total">
            <div class="row">
                <div class="col-9">Total</div>
                <div class="col-3"><big>$27.000</big></div>
            </div>
        </div>
        <div class="tracking">
            <div class="title">Seguimiento</div>
        </div>
        <div class="progress-track">
            <ul id="progressbar">
                <li class="step0 active " id="step1">Orden resibida</li>
                <li class="step0 active text-center" id="step2">Enviado</li>
                <li class="step0 active text-right" id="step3">En camino</li>
                <li class="step0 text-right" id="step4">Recibido</li>
            </ul>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-2"><img class="img-fluid" src="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}" width="50px"></div>
                <div class="col-10">necesitas ayuda?<a href="#">Contactanos</a></div>
            </div>
        </div>
    </div>
</div>


  
        
  
  <!-- Modal arena para gatos -->
  <div class="modal" id="ModalArenaGato">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Arena para gatos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div style="text-align: center;">
              <form action="inicio.html" method="GET">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{% static 'app/img/Arena-para-gato-Traper-4-kg-1-26321765.png' %}" width="150px" alt="">
                  </div>
                  <div class="col-sm-10">
                    <h2>Precio</h2>
                    $6990
                    <div class="form-group" style="margin-left: 70px;">
                    <label for="txtCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Ej:10">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-left: 70px;">
              <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
              <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
              </div>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal Cuenco antideslizante -->
  <div class="modal" id="ModalCuenco">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Cuenco antideslizante</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div style="text-align: center;">
              <form action="inicio.html" method="GET">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{% static 'app/img/Lindos-antideslizante-gato-cuencos-de-doble-tazones_storage-93529.jpg' %}" width="140px" alt="">
                  </div>
                  <div class="col-sm-10">
                    <h2>Precio</h2>
                    $12000
                    <div class="form-group" style="margin-left: 70px;">
                    <label for="txtCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Ej:10">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-left: 70px;">
              <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
              <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
              </div>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal collar para perros -->
  <div class="modal" id="ModalCollar">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Collar para perros</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div style="text-align: center;">
              <form action="inicio.html" method="GET">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{% static 'app/img/collar para perros.jpg' %}" width="140px" alt="">
                  </div>
                  <div class="col-sm-10">
                    <h2>Precio</h2>
                    $9000
                    <div class="form-group" style="margin-left: 70px;">
                    <label for="txtCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Ej:10">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-left: 70px;">
              <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
              <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
              </div>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal comida para perros -->
  <div class="modal" id="ModalComidaPerros">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Comida para perros</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div style="text-align: center;">
              <form action="inicio.html" method="GET">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{% static 'app/img/comida para perros.jpg' %}" width="140px" alt="">
                  </div>
                  <div class="col-sm-10">
                    <h2>Precio</h2>
                    $6000
                    <div class="form-group" style="margin-left: 70px;">
                    <label for="txtCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Ej:10">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-left: 70px;">
              <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
              <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
              </div>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal comida para hamsters -->
  <div class="modal" id="ModalComidaHamsters">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Comida para hamnsters</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div style="text-align: center;">
              <form action="inicio.html" method="GET">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{% static 'app/img/comida para hamsters.jpg' %}" width="140px" alt="">
                  </div>
                  <div class="col-sm-10">
                    <h2>Precio</h2>
                    $13000
                    <div class="form-group" style="margin-left: 70px;">
                    <label for="txtCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Ej:10">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-left: 70px;">
              <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
              <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
              </div>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Modal comida para hamsters -->
  <div class="modal" id="ModalJaulaHamsters">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Comida para hamnsters</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div style="text-align: center;">
              <form action="inicio.html" method="GET">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <img src="{% static 'app/img/jaula para hamster.jpg' %}" width="140px" alt="">
                  </div>
                  <div class="col-sm-10">
                    <h2>Precio</h2>
                    $24000
                    <div class="form-group" style="margin-left: 70px;">
                    <label for="txtCantidad">Cantidad</label>
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Ej:10">
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-left: 70px;">
              <input type="submit" id="btnEnviar" name="btnEnviar" class="btn btn-success">
              <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
              </div>
          </form>
          </div>
      </div>
      </div>
    </div>
  </div>

<footer>
    <div class="bg-dark">
        <div class="container">
            <div class="row p-5">
                <div class="col">
                <ul>
                    <li><p class="text-light">Contacto: +56959335581</p></li>
                    <li><p class="text-light">Correo Electronico: delipet@gmail.com</p></li>
                    <li><p class="text-light">Direccion: Vicuña Mackenna 7110, La Florida, Región Metropolitana</p></li>
                </ul>
                </div>
                <div class="col position-relative">
                <img src="{% static 'app/img/2324212_animals_cats_friendly_kitty_pets_icon.png' %}" class="bg-white p-2 rounded position-absolute top-50 start-50 translate-middle" height="120px">
                </div>
                <div class="col position-relative">
                <img src="{% static 'app/img/webpay.png' %}" class="rounded position-absolute top-50 start-50 translate-middle" height="70px">
                </div>
            </div>
        </div>
    </div>
</footer>



    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>